In [1]:
import os
import sys
sys.dont_write_bytecode = True
os.environ["NUMBA_DISABLE_JIT"] = "1"

import vectorbt as vbt
from vectorbt.base.index_fns import index_from_values
import pandas as pd
prices = pd.read_csv('30min.csv', index_col='time')

In [19]:
rsi_ind = vbt.IndicatorFactory.from_talib('RSI')
rsi = rsi_ind.run(prices.close, timeperiod=[10, 10])
rsi.real_below([40, 50])

rsi_real_below          40            50
rsi_timeperiod          10     10     10     10
time
2020-10-01 00:00:00  False  False  False  False
2020-10-01 00:30:00  False  False  False  False
2020-10-01 01:00:00  False  False  False  False
2020-10-01 01:30:00  False  False  False  False
2020-10-01 02:00:00  False  False  False  False
...                    ...    ...    ...    ...
2021-02-22 21:30:00  False  False  False  False
2021-02-22 22:00:00  False  False  False  False
2021-02-22 22:30:00  False  False  False  False
2021-02-22 23:00:00  False  False   True   True
2021-02-22 23:30:00  False  False  False  False

[6960 rows x 4 columns]

In [15]:
rsi_ind = vbt.IndicatorFactory.from_talib('RSI')
rsi = rsi_ind.run(prices.close, timeperiod=[10,20, 30])
rsi.real_below([40, 50, 65])

rsi_real_below          40                   50                   65         \
rsi_timeperiod          10     20     30     10     20     30     10     20
time
2020-10-01 00:00:00  False  False  False  False  False  False  False  False
2020-10-01 00:30:00  False  False  False  False  False  False  False  False
2020-10-01 01:00:00  False  False  False  False  False  False  False  False
2020-10-01 01:30:00  False  False  False  False  False  False  False  False
2020-10-01 02:00:00  False  False  False  False  False  False  False  False
...                    ...    ...    ...    ...    ...    ...    ...    ...
2021-02-22 21:30:00  False  False  False  False  False   True   True   True
2021-02-22 22:00:00  False  False  False  False   True   True   True   True
2021-02-22 22:30:00  False  False  False  False   True   True   True   True
2021-02-22 23:00:00  False  False  False   True   True   True   True   True
2021-02-22 23:30:00  False  False  False  False   True   True   True   True

rsi_real_below
rsi_timeperiod          30
time
2020-10-01 00:00:00  False
2020-10-01 00:30:00  False
2020-10-01 01:00:00  False
2020-10-01 01:30:00  False
2020-10-01 02:00:00  False
...                    ...
2021-02-22 21:30:00   True
2021-02-22 22:00:00   True
2021-02-22 22:30:00   True
2021-02-22 23:00:00   True
2021-02-22 23:30:00   True

[6960 rows x 9 columns]

In [3]:
index_from_values([40, 50, 65], name='rsi_real_below')

Int64Index([40, 50, 65], dtype='int64', name='rsi_real_below')

In [29]:
import numba as nb
import numpy as np
@nb.njit
def numba_(biggest):
    x = np.array([[False],[True], [True], [False], [False], [True], [False],[True],[False]])
    return x.repeat(biggest).reshape((-1, biggest)).T

numba_(3)[0][1]

True

In [52]:
arr = np.array([[False],[True], [True], [False], [False], [True], [False],[True],[False]])

In [76]:
arr =  np.array([[False],[True], [True], [False], [False], [True], [False],[True],[False]])
np.broadcast_to(arr.T, (3, arr.shape[0]))

array([[False,  True,  True, False, False,  True, False,  True, False],
       [False,  True,  True, False, False,  True, False,  True, False],
       [False,  True,  True, False, False,  True, False,  True, False]])

In [73]:
arr.T.shape[0]

1

In [74]:
np.broadcast_to(arr.T, (3, arr.shape[0]))

array([[False,  True,  True, False, False,  True, False,  True, False],
       [False,  True,  True, False, False,  True, False,  True, False],
       [False,  True,  True, False, False,  True, False,  True, False]])

In [56]:
arr = np.array([[False, True, False, False]])
arr.shape
# np.broadcast_to(arr, (3, arr.shape[1]))

(1, 4)