In [1]:
import quantfreedom as qf
from quantfreedom.backtester.indicators.talib_ind import *
prices = pd.read_csv('../30min.csv', index_col='time')

In [ ]:
talib_list_of_indicators()

In [11]:
talib_func_list_website_link()

https://ta-lib.github.io/ta-lib-python/funcs.html

In [4]:
talib_ind_info('rsi')

{'name': 'RSI',
 'group': 'Momentum Indicators',
 'display_name': 'Relative Strength Index',
 'function_flags': ['Function has an unstable period'],
 'input_names': OrderedDict([('price', 'close')]),
 'parameters': OrderedDict([('timeperiod', 14)]),
 'output_flags': OrderedDict([('real', ['Line'])]),
 'output_names': ['real']}

In [14]:
from_talib(
    func_name='rsi',
    df_prices=prices,
    cart_product=False,
    combos=False,
    timeperiod=[15,20,25,30],
    # price='open',
)

RSI_count                    0          1          2          3
timeperiod                  15         20         25         30
time
2020-10-01 00:00:00        NaN        NaN        NaN        NaN
2020-10-01 00:30:00        NaN        NaN        NaN        NaN
2020-10-01 01:00:00        NaN        NaN        NaN        NaN
2020-10-01 01:30:00        NaN        NaN        NaN        NaN
2020-10-01 02:00:00        NaN        NaN        NaN        NaN
...                        ...        ...        ...        ...
2021-02-22 21:30:00  55.516071  52.364915  50.642453  49.668702
2021-02-22 22:00:00  51.496913  49.398176  48.236979  47.611461
2021-02-22 22:30:00  49.684656  48.050665  47.140188  46.671107
2021-02-22 23:00:00  45.834489  45.161627  44.777441  44.639194
2021-02-22 23:30:00  49.724145  48.215568  47.339397  46.868962

[6960 rows x 4 columns]

In [15]:
talib_ind_info('stoch')

{'name': 'STOCH',
 'group': 'Momentum Indicators',
 'display_name': 'Stochastic',
 'function_flags': None,
 'input_names': OrderedDict([('prices', ['high', 'low', 'close'])]),
 'parameters': OrderedDict([('fastk_period', 5),
              ('slowk_period', 3),
              ('slowk_matype', 0),
              ('slowd_period', 3),
              ('slowd_matype', 0)]),
 'output_flags': OrderedDict([('slowk', ['Dashed Line']),
              ('slowd', ['Dashed Line'])]),
 'output_names': ['slowk', 'slowd']}

In [7]:
from_talib(
    func_name='stoch',
    df_prices=prices,
    cart_product=False,
    combos=True,
    slowk_period=[15,20,25,30],
    slowk_matype=[6,3,5,3],
    prices=['open', 'open', 'open'],
)['slowk']

slowk_count                  0          1          2          3
fastk_period                 5          5          5          5
slowk_period                15         20         25         30
slowk_matype                 6          3          5          3
slowd_period                 3          3          3          3
slowd_matype                 0          0          0          0
time
2020-10-01 00:00:00        NaN        NaN        NaN        NaN
2020-10-01 00:30:00        NaN        NaN        NaN        NaN
2020-10-01 01:00:00        NaN        NaN        NaN        NaN
2020-10-01 01:30:00        NaN        NaN        NaN        NaN
2020-10-01 02:00:00        NaN        NaN        NaN        NaN
...                        ...        ...        ...        ...
2021-02-22 21:30:00  61.766934  80.626045  45.315290  69.433389
2021-02-22 22:00:00  63.706287  85.640509  49.535793  74.014930
2021-02-22 22:30:00  63.574474  81.172226  53.095942  72.141628
2021-02-22 23:00:00  62.825341  73.157481  55.646992  67.601354
2021-02-22 23:30:00  59.830883  60.855719  57.606326  59.790337

[6960 rows x 4 columns]

In [9]:
from_talib(
    func_name='stoch',
    df_prices=prices,
    cart_product=True,
    combos=False,
    slowk_period=[15,25],
    slowk_matype=[6,3],
    fastk_period=[1,10],
)['slowk']

slowk_count,0,1,2,3,4,5,6,7
fastk_period,1,1,1,1,10,10,10,10
slowk_period,15,15,25,25,15,15,25,25
slowk_matype,6,3,6,3,6,3,6,3
slowd_period,3,3,3,3,3,3,3,3
slowd_matype,0,0,0,0,0,0,0,0
time,,,,,,,,
2020-10-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-10-01 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-10-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-10-01 01:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-10-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2021-02-22 21:30:00,51.165475,71.567130,51.055842,64.824311,71.254392,95.717285,56.254702,86.385563
2021-02-22 22:00:00,50.166726,56.278572,50.746732,56.033110,71.378003,94.152998,57.323478,86.819172
2021-02-22 22:30:00,50.221365,56.424879,50.771216,56.238401,71.405422,91.077555,57.757134,86.098008
2021-02-22 23:00:00,50.106269,50.409537,50.634394,52.548137,70.424895,80.918121,57.680272,80.654115
2021-02-22 23:30:00,50.200527,54.179671,50.729977,54.757916,70.100998,75.618323,57.658942,77.735478