In [ ]:
import sys, os
from my_keys import MufexKeys
from multiprocessing import cpu_count
import pandas as pd
import numpy as np
from quantfreedom.helpers.helper_funcs import dl_ex_candles
from quantfreedom.core.backtest import or_backtest
from datetime import datetime
from time import gmtime, strftime

from strat import exchange_settings_tuple, static_os_tuple, long_strat

%load_ext autoreload
%autoreload 2

In [27]:
first = np.array([1, 2, 3, 4]) < 2
second = np.array([1, 2, 3, 4]) <= 4
thrid = np.array([1, 2, 3, 4]) == 1
first & second & thrid

array([ True, False, False, False])

In [24]:
second == thrid & first

array([False, False, False, False])

In [ ]:
%run -i long_backtest.py

In [ ]:
pd.read_hdf('backtest_results.h5').sort_values('qf_score', ascending=False).head(15)

In [ ]:
candles = dl_ex_candles(
    exchange="mufex",
    symbol="BTCUSDT",
    timeframe="5m",
    since_datetime=datetime(2023, 10, 1),
    until_datetime=datetime(2023, 11, 1),
)

backtest_results = or_backtest(
    candles=candles,
    exchange_settings_tuple=exchange_settings_tuple,
    static_os_tuple=static_os_tuple,
    strategy=long_strat,
    set_idx=435,
    disable_logger=False,
    plot_results=True,
)

In [13]:
backtest_results

,set_idx,bar_idx,timestamp,order_status,datetime,equity,available_balance,cash_borrowed,cash_used,average_entry,...,entry_size_usd,entry_price,exit_price,position_size_asset,position_size_usd,realized_pnl,sl_pct,sl_price,tp_pct,tp_price
0,435,51,1696133700000,EntryFilled,2023-10-01 04:15:00,1000.000,951.617,3618.037,48.383,27009.0,...,3666.420,27009.0,NaN,0.136,3666.420,NaN,0.7,26820.3,2.5,27696.5
1,435,54,1696134600000,EntryFilled,2023-10-01 04:30:00,1000.000,855.354,10818.682,144.646,27012.0,...,3678.871,27018.1,NaN,0.272,7345.291,NaN,0.7,26825.2,2.5,27698.5
2,435,267,1696198500000,TakeProfitFilled,2023-10-01 22:15:00,1180.060,1180.060,NaN,NaN,NaN,...,NaN,NaN,27698.5,NaN,NaN,180.060,NaN,NaN,NaN,NaN
3,435,273,1696200300000,EntryFilled,2023-10-01 22:45:00,1180.060,1140.639,918.045,39.421,27928.5,...,957.466,27928.5,NaN,0.034,957.466,NaN,3.5,26940.5,11.1,31017.3
4,435,275,1696200900000,EntryFilled,2023-10-01 22:55:00,1180.060,1061.635,2707.731,118.425,27931.0,...,950.645,27936.1,NaN,0.068,1908.111,NaN,3.5,26940.5,11.1,31031.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,435,7711,1698431700000,EntryFilled,2023-10-27 18:35:00,2284.457,2160.066,11156.722,124.391,33494.3,...,11281.113,33494.3,NaN,0.337,11281.113,NaN,0.5,33332.5,1.9,34130.3
115,435,7715,1698432900000,EntryFilled,2023-10-27 18:55:00,2284.457,1942.163,28771.851,342.294,33532.3,...,6676.310,33634.9,NaN,0.535,17957.423,NaN,0.6,33332.5,2.4,34324.6
116,435,7912,1698492000000,TakeProfitFilled,2023-10-28 11:20:00,2692.064,2692.064,NaN,NaN,NaN,...,NaN,NaN,34324.6,NaN,NaN,407.607,NaN,NaN,NaN,NaN
117,435,7915,1698492900000,EntryFilled,2023-10-28 11:35:00,2692.064,2586.198,5086.589,105.866,34385.0,...,5192.455,34385.0,NaN,0.151,5192.455,NaN,1.4,33896.2,4.7,36005.7
118,435,7919,1698494100000,EntryFilled,2023-10-28 11:55:00,2692.064,2347.682,17606.289,344.382,34320.2,...,7671.627,34212.1,NaN,0.375,12864.082,NaN,1.2,33896.2,3.8,35632.1